# To learn more about .editorconfig see https://aka.ms/editorconfigdocs

# All files
[*]
charset = utf-8
indent_style = space
end_of_line = lf
insert_final_newline = true

# Xml files
[*.xml]
indent_size = 2
